{
    "printWidth": 120,
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "overrides": [
        {
          "files": ["*.js", "*.jsx"],
          "options": {
            "parser": "babel"
          }
        },
        {
          "files": ["*.json", "*.jsonc", "*.json5"],
          "options": {
            "parser": "json5",
            "quoteProps": "preserve",
            "trailingComma": "none"
          }
        }
      ]
}